/* NavBar */

.spacer{
    flex: 1 1 auto;
}

a{
    transition: 0.5s;
    color: unset;
    text-decoration: unset;
}

a:hover{
    transition: 0.5s;
    color: #E1c699;
}

.buttonNavBar{
    transition: 0.5s;
}

.buttonNavBar:hover{
    transition: 0.5s;
    color: #E1c699;
}

span{
    margin-left: 25px;
}

.sidenav-links-container{
    display: flex;
    flex-flow: column nowrap;
    min-width: 200px;
    padding: 25px 25px 0 0;
}

.sidenav-links-container .title{
    font-size: 22px;
    margin-bottom: 25px;
}

.sidenav-links-container .sidenav-link{
    margin-bottom: 15px;
}

@media screen and (min-width: 700px){
    #drawerToggle-Icon{
        display: none;
    }

}

@media screen and (max-width: 700px){
    #drawerToggle-Icon{
        display: block;
    }
    
    .navbar-link{
        display: none;
    }

}