table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container{
  max-height: 400px;
  overflow: scroll;
}

.flex-container{
  flex-flow: row wrap;
  gap: 25px;
}

