<div *ngIf="!errorMessage" class="container">
    <header>
        <h1>Implantation : {{order.location?.name}}</h1>
    </header>
    <div class="card-container">
        <mat-card *ngFor="let product of products" class="card">
            <img mat-card-image src="../../assets/img/products/{{product.picture}}" alt="{{product.name}}">
            <mat-card-content>
                <mat-card-title>{{product.name}}</mat-card-title>
                <p>
                    {{product.desc}}
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <div class="flex-container">
                    <div class="card-action">
                        <button mat-mini-fab (click)="addQty(product.id)" color="primary">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    <div class="card-action-result">
                        <span>{{product.qty}}</span>
                    </div>
                    <div class="card-action">
                        <button mat-mini-fab (click)="removeQty(product.id)" color="primary">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <br>
    <button (click)="addInCard()" mat-raised-button color="primary" style="position: sticky;">confirmer commande</button>
</div>
<div *ngIf="errorMessage">
    <h1>{{errorMessage}}</h1>
</div>