<div class="container">
    <header>
        <h3>Implantations</h3>
    </header>
    <div class="flex-container">
        <div class="card-container">
            <mat-card *ngFor="let location of locations" class="card">
                <mat-card-header>
                <mat-card-title>{{location.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/img/{{location.img}}" alt="Implantations de Montignies-sur-sambre">
                <mat-card-actions>
                    <button [routerLink]="['/bakery', location.id]" mat-raised-button color="primary">Choisir</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>  
